
a.item[data-toggle=tab] {
   transition: color 0.5s;
}

a.item-disabled[data-toggle=tab] {
    pointer-events: none;
    color: red !important;
}

#body-content {
    padding: 0;
}

#earth-map {
    width: 100%;
    height: calc(100vh - 50px);
}

body.skin-black aside.main-sidebar {
    /* background-color: #0F0D1A; */
}

#shiny-modal .modal-content {
    background-color: #313131;
}

#shiny-modal .modal-title {
    color: #eeeeee;
    font-family: Helvetica;
    text-align: center;
}

#shiny-modal .modal-body {
    height: calc(100% - 120px);
}

#logocontainer {
    display: flex;
    align-items: center;
    height: 100%;
}

#shiny-modal .modal-footer {
    display: flex;
}

#shiny-modal .modal-footer button {
    margin: auto;
}
