
a.item[data-toggle=tab] {
   transition: color 0.5s;
}

a.item-disabled[data-toggle=tab] {
    pointer-events: none;
    color: red !important;
}

#body-content {
    padding: 0;
}

#earth-map {
    width: 100%;
    height: calc(100vh - 50px);
}

body.skin-black aside.main-sidebar {
    /* background-color: #0F0D1A; */
}